.opera-latest-section {
  padding: 40px;
  background-color: #f9fafb;
}
.opera-container {
    padding-left: 40px;
    margin-top: 25px;

}

.opera-tabs {
  display: flex;
  gap: 12px;
}



.opera-tab-btn:hover {
  background-color: #24cba4;
  color: #fff;
}

.opera-active {
  background-color: #24cba4;
  color: #fff;
}

.opera-loading,
.opera-no-data {
  font-size: 16px;
  color: #555;
  text-align: center;
}



.opera-movie-list::-webkit-scrollbar {
  height: 8px;
}

.opera-movie-list::-webkit-scrollbar-thumb {
  background-color: #24cba4;
  border-radius: 4px;
}

.opera-movie-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.opera-image-container {
  position: relative;
  width: 100%;
  height: 270px;
}

.opera-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px 8px 0 0;
}



.opera-image-container:hover .opera-play-icon {
  opacity: 1;
}

.opera-movie-title:hover {
  color: #24cba4;
}

.opera-video-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.opera-video-content {
  position: relative;
  width: 90%;
  max-width: 800px;
  background: #000;
  padding: 20px;
  border-radius: 8px;
}

.opera-close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  background: transparent;
  color: #fff;
  border: none;
  font-size: 28px;
  cursor: pointer;
}



.opera-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 20px;
}

.opera-title {
  font-size: 28px;
  color: #0d1b2a;
  margin: 0;
  font-weight: 700;
  white-space: nowrap;
}



.opera-tab-btn {
  padding: 8px 16px;
  background-color: #e0e0e0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 500;
  color: #333;
  transition: all 0.3s ease;
}



.opera-movie-list {
  display: flex;
  overflow-x: auto;
  gap: 25px;
  padding: 0 16px;
}

.opera-movie-card {
  min-width: 284px;
  max-width: 283px;
  background-color: #0d1b2a;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  flex-shrink: 0;
}

.opera-movie-image-container img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  display: block;
}

.opera-play-icon {
  position: absolute;
  top: 20px;
  right: 10px;
  background-color: #ffffffb3;
  color: #000;
  font-size: 18px;
  padding: 6px 10px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
  transition: background-color 0.3s ease;
}

.opera-movie-info {
  background-color: #0d1b2a;
  padding: 12px;
  color: white;
}

.opera-movie-title {
  font-size: 16px;
  font-weight: 600;
  color: white;
  margin-bottom: 6px;
}

.opera-movie-subtitle {
  font-size: 14px;
  color: #ccc;
}
