.section-footer {
    max-width: 100%;
    width: 100vw;
    box-sizing: border-box;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #031d33;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    /* gap: 20px; */
}
.one {
    display: flex;
    flex-direction: column; 
    gap: 25px;
}
.one img {
    height: 94px;
    width: 130px;
    margin-left: 50px;
}
.one button {
    position: relative;
    /* top: 140px; */
    background-color: #fff;
    color: #235ea7 ;
    font-size: 1.3em;
    display: inline-block;
    word-wrap: break-word;
    white-space: normal;
    width: 280px;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 8px 16px;
    transition: linear .1s;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}
ul li {
    list-style: none;
    color: #fff;
    font-size: 1em;
}
li a {
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 991px) {
    .section-footer {
        display: block;
        padding: 0 20px;
        box-sizing: border-box;
        width: 100%;
        padding-bottom: 40px;
        padding-top: 40px;
    }
    .section-footer h3 {
        font-size: 20.36px;
    }
    .section-footer > div {
        margin-bottom: 40px;
    }
    .one img {
        display: none;
    }
    .one button {
        /* width: 205px; */
        font-size: 1.3em;
        font-weight: 700;
        padding: 8px 16px;
    }
    ul li {
        font-size: 0.8em;
    }
    li a {
        font-size: 17.28px;
    }
}